<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-names="exer1.txt"
            id="org.eclipsecon.exercise1-contenttype"
            name="Exercise 1 Content Type (exer1.txt)"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-names="exer2.txt"
            id="org.eclipsecon.exercise2-contenttype"
            name="Exercise 2 Content Type (exer2.txt)"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-names="exer3.txt"
            id="org.eclipsecon.exercise3-contenttype"
            name="Exercise 3 Content Type (exer3.txt)"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-names="exer4.txt"
            id="org.eclipsecon.exercise4-contenttype"
            name="Exercise 4 Content Type (exer4.txt)"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-names="solution.txt"
            id="org.eclipsecon.solution-contenttype"
            name="Solution Content Type (solution.txt)"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.lsp4e.languageServer">
      <server
            class="org.eclipsecon.languageserverplugin.ConnectionProvider1"
            id="org.eclipsecon.languageserverplugin.server1"
            label="Exersice 1 Server">
      </server>
      <contentTypeMapping
            contentType="org.eclipsecon.exercise1-contenttype"
            id="org.eclipsecon.languageserverplugin.server1">
      </contentTypeMapping>
      <server
            class="org.eclipsecon.languageserverplugin.ConnectionProvider2"
            id="org.eclipsecon.languageserverplugin.server2"
            label="Exersice 2 Server">
      </server>
      <contentTypeMapping
            contentType="org.eclipsecon.exercise2-contenttype"
            id="org.eclipsecon.languageserverplugin.server2">
      </contentTypeMapping>
      <server
            class="org.eclipsecon.languageserverplugin.ConnectionProvider3"
            id="org.eclipsecon.languageserverplugin.server3"
            label="Exersice 3 Server">
      </server>
      <contentTypeMapping
            contentType="org.eclipsecon.exercise3-contenttype"
            id="org.eclipsecon.languageserverplugin.server3">
      </contentTypeMapping>
      <server
            class="org.eclipsecon.languageserverplugin.ConnectionProvider4"
            id="org.eclipsecon.languageserverplugin.server4"
            label="Exersice 4 Server">
      </server>
      <contentTypeMapping
            contentType="org.eclipsecon.exercise4-contenttype"
            id="org.eclipsecon.languageserverplugin.server4">
      </contentTypeMapping>
      <server
            class="org.eclipsecon.languageserverplugin.ConnectionProviderSolution"
            id="org.eclipsecon.languageserverplugin.solutionserver"
            label="Solution Server">
      </server>
      <contentTypeMapping
            contentType="org.eclipsecon.solution-contenttype"
            id="org.eclipsecon.languageserverplugin.solutionserver">
      </contentTypeMapping>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="org.eclipsecon.exercise1-contenttype"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
      <editorContentTypeBinding
            contentTypeId="org.eclipsecon.exercise2-contenttype"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
      <editorContentTypeBinding
            contentTypeId="org.eclipsecon.exercise3-contenttype"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
      <editorContentTypeBinding
            contentTypeId="org.eclipsecon.exercise4-contenttype"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
      <editorContentTypeBinding
            contentTypeId="org.eclipsecon.solution-contenttype"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
   </extension>
</plugin>
